body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-content {
  padding: 20px;
  padding-top: 10px;
  margin: 0;
}
.bg-challenger {
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 92%);
}

.title {
  color: gold;
}

.btn-content {
  border: none;
  padding: 10px;
  font-size: 20px;
}

.btn-content:hover {
  cursor: pointer;
  background-color: black;
  color: gold;
  font-weight:  900;
}
/* 
.btn-color {
  color
} */
